.perfil-photo{
    margin-top: -95px;
    margin-left: 25px;
}
.perfil-photo:hover{
    opacity: .8;
    transition: .5s;
    background-color: #00000060;
}
.perfil-photo::after{
    opacity: .8;
    transition: .5s;
    background-color: #00000060;
}



/* @media screen and (min-width:1200px){
    .perfil-nombre{
        width: 50%;
    }
} */