<div class="container my-2">
    <div class="row bg-white mxs-1">
        <h1>Experiencia Laboral</h1>
        <div class="col-lg-12">
            <ul class="list-group">
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">{{expe.experienciaTitle}} -</h1>
                    <h3 class="d-inline"> ({{expe.experienciaAnios}} Años)</h3>
                    <p>
                        {{expe.experienciaContent}}
                    </p>
                </li>
                
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">{{expe.experienciaTitle2}} -</h1>
                    <h3 class="d-inline"> ({{expe.experienciaAnios2}} Años)</h3>
                    <p>
                        {{expe.experienciaContent2}}
                    </p>
                </li>
                
                <li class="list-group-item my-2 border border-2">
                    <h1 class="d-inline">{{expe.experienciaTitle3}} -</h1>
                    <h3 class="d-inline"> ({{expe.experienciaAnios3}} Años)</h3>
                    <p>
                        {{expe.experienciaContent3}}
                    </p>
                </li>
                
            </ul>
        </div>
    </div>
</div>